@import "tailwindcss";

@font-face {
  font-family: "MestizoFont";
  src: url("./Font/MestizoFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    font-family: "MestizoFont", sans-serif;
  }
  
  html,
  body {
    font-family: "MestizoFont", sans-serif;
  }
}